@font-face{
	font-family: "bebas";
	src: url("font/BebasNeue.ttf");
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: bebas;
}

#logo{
  position: absolute;
  background: url('img/logo_grey.png') fixed center;
  background-size: 1500px auto;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  transition: opacity 1.5s;
  z-index: 100;
}

#logo:hover{
  opacity: 0;
  transition: opacity 1.5s;
}

#container{
  background: white;
}

#container h3{
  position: absolute;
  color: #555555;
  bottom: 10;
  font-size: 2em;
  bottom: 0px;
}

#container #personnes{
  right: 100px;
  text-align: right;
  opacity: 0;
  transition: all linear 1s;
}

#container #date{
  left: 50px;
}

#container img{
  position: absolute;
  right: 18px;
  bottom: 16px;
  height: 100px;
  opacity: 0;
  transition: all linear 0.5s;
}

#container #housePopulation{
  transition: all linear 0.3s;
  width: 100%;
  top: 37%;
  opacity: 1;
  font-size: 0em;
  text-align: center;
}

#container #inhabitant{
  right: 130px;
  /* color: #010101; */
  font-size: 0em;
  bottom: -12px;
  z-index: 10;
  transition: all linear 0.2s;
}

#outro{
	z-index: 800;
	position: absolute;
	top: 0px;
	text-align: center;
	background: white;
	width: 100%;
	height: 100%;
	opacity: 0;
  transition: all linear 0.5s;
}

#outro p{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
	margin: 0px auto;
  font-size: 2em!important;
}
